REGIONS=PREF,PREC,TEMP,GR, PAR, RAC, OCC, CAU, CER
PREF_FILES_SUFFIX=ctx-lh-rostralmiddlefrontal,ctx-rh-rostralmiddlefrontal,ctx-lh-superiorfrontal,ctx-rh-superiorfrontal
PREC_FILES_SUFFIX=ctx-lh-precuneus,ctx-rh-precuneus
TEMP_FILES_SUFFIX=ctx-lh-superiortemporal,ctx-rh-superiortemporal,ctx-lh-middletemporal,ctx-rh-middletemporal
GR_FILES_SUFFIX=ctx-lh-lateralorbitofrontal,ctx-rh-lateralorbitofrontal,ctx-lh-medialorbitofrontal,ctx-rh-medialorbitofrontal
PAR_FILES_SUFFIX=ctx-lh-inferiorparietal,ctx-rh-inferiorparietal
RAC_FILES_SUFFIX=ctx-lh-rostralanteriorcingulate,ctx-rh-rostralanteriorcingulate
OCC_FILES_SUFFIX=ctx-lh-lingual,ctx-rh-lingual,ctx-lh-cuneus,ctx-rh-cuneus
CAU_FILES_SUFFIX=Left-Caudate,Right-Caudate
CER_FILES_SUFFIX=Left-Cerebellum-Cortex,Right-Cerebellum-Cortex
PREF_COLOR=0:0:0
PREC_COLOR=0:0:205
TEMP_COLOR=34:139:34
GR_COLOR=205:92:92
PAR_COLOR=147:112:219
RAC_COLOR=218:165:32
OCC_COLOR=139:119:101
CAU_COLOR=64:224:208
CER_COLOR=255:20:147
